<header class="header">
  <body style="margin: 0; background-image: url('public/imgs/fondo5.jpeg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; height: 100vh; font-family: 'Ubuntu', sans-serif; color: #fff;"></body>
  <a href="./" class="logo">
    <img src="public/imgs/logo_sumdevs.jpg" alt="Logo" />
  </a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li>
      <a class="menu-item" href="/"> Inicio </a>
    </li>
    <li>
      <a class="menu-item" href="/Crud-Completo-con-NodeJS-Express-y-MySQL">
        Tareas
      </a>
    </li>
  </ul>
</header>
